

.title{
    text-align: center;
    color: #774936;
    font-size: 15PX;
    font-weight: 500;
    text-transform: uppercase;
    margin: 70PX 0 30PX;

}
.title p{
    font-size: 20px;
    color: black;
    margin-top: 5px;
    text-transform: none;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}